.grid {
  flex: 1;
  display: grid;
  grid-template-areas:
    'featured blog1'
    'featured blog2'
    'featured blog3';
}

.blog {
  border-radius: 1px;
  background-size: cover;
  background-position: center;
  position: relative;
  transform: scale(0.99);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 0em solid white;
  background-image: url('https://source.unsplash.com/random/?city,night');
}

.blog:hover {
  border: 0.2em solid white;
  transform: scale(1);
}

.featured {
  grid-area: featured;
  background-image: url(https://agreyguy.files.wordpress.com/2018/07/david-tran-438753-unsplash.jpg?w=1280);
}

.blog::before {
  content: '';
  background: linear-gradient(to top left, black 8%, transparent 150%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
